@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  border: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid #c5baaf;
  height: 100px;
}

.header > img {
  width: 100px;
  float: left;
}

.header > h3 {
  float: left;
  padding-top: 17px;
  padding-left: 20px;
}

.menu {
  height: 700px;
  width: 25%;
  background-color: #e1ce7a;
  float: left;
}

.menu > ul {
  list-style-type: none;
  padding-left: 0;
}

.menu > ul > li {
  margin-bottom: 10px;
}

.menu > ul > li > a {
  color: #424b54;
  display: block;
  background-color: #c5baaf;
  padding: 5px;
  text-decoration: none;
}

.menu > ul > li > a:hover {
  color: #f6f8fa;
  background-color: #978777;
}

.container {
  height: 700px;
  width: 71%;
  float: right;
  padding: 0px 2%;
  background-color: #f1f1f1;
}

.footer {
  clear: both;
  height: 150px;
  width: 100%;
  background-color: #424b54;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

.footer > ul {
  list-style-type: none;
  padding-top: 20px;
}

.footer > ul > li {
  margin-top: 5px;
}
