@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    border: 0;
    margin: 0;
}

#main-header {
    border-bottom: 1px solid #C5BAAF;
    overflow: hidden;
    height: 15vh;
}

#main-header>img {
    width: 110px;
    float: left;
}

#main-header>h3 {
    float: left;
    display: block;
    padding-left: 50px;
    padding-top: 20px;
}

#main-side-bar {
    background-color: #E1CE7A;
    height: 70vh;
    width: 25%;
    float:left
}

#main-side-bar>ul {
    list-style-type: none;
    padding-left: 0;
}

#main-side-bar>ul>li {
    margin-bottom: 5px;
}

#main-side-bar>ul>li>a {
    color: #424B54;
    display: block;
    background-color: #C5BAAF;
    padding: 5px;
    text-decoration: none;
}

#main-content {
    height: 70vh;
    width: 71%;
    float: right;
    padding-left: 2%;
    padding-right: 2%;
}

#main-footer {
    text-align: center;
    font-size: small;
    background-color: #424B54;
    clear: both;
    height: 15vh;
    color: #FFFFFF;
    font-size: 10px;
}

#main-footer>ul {
    list-style-type: none;
    padding-top: 20px;
}

#main-footer>ul>li {
    margin-top: 5px;
}